$icons-primary: #333;
$icons-background: #fff;

$heading-color-primary: #282526;
$text-color-primary: #282526;
$hover-color-primary: #0066cc;

$background-color: #f2f2f2;
$main-wrapper-background: #fff;

$borders-color: #d2d2d7;

* {
    font-family: "SF Pro Display", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    padding: 0 20px;
    background-color: $background-color;
}

.two-columns {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 600;
    color: $heading-color-primary;
    letter-spacing: 1px;
    font-size: 60px;
    text-align: right;

    margin-bottom: 27px;
    margin-right: 40px;
}

.main-wrapper {
    background-color: $main-wrapper-background;
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}


@keyframes shake-fists {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-30px);
    }
}

.shake-fists-animation {
    animation-name: shake-fists;
    animation-duration: 0.2s;
    animation-iteration-count: 6;
    animation-direction: alternate;
}

.players-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.players {
    margin: 5px;
    padding: 20px;
    font-size: 45px;
    color: $icons-primary;
}

.hand {
    &-user {
        .fa-hand-back-fist {
            transform: rotate(90deg);
        }

        .fa-hand-scissors {
            transform: scaleX(-1);
        }

        .fa-hand {
            transform: rotate(90deg);
        }
    }

    &-opponent {
        transform: scaleX(-1);

        .fa-hand-back-fist {
            transform: rotate(90deg);
        }

        .fa-hand {
            transform: rotate(90deg);
        }

        .fa-hand-scissors {
            transform: rotate(0deg) scaleX(-1);
        }
    }
}


/* Choosing */
.hand-choices {
    .fa-hand-scissors {
        transform: rotate(-90deg) scaleX(-1);
    }

    .choice {
        font-size: 25px;
        color: $icons-primary;
        padding: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        background-color: $icons-background;
    
        &:hover {
            color: $hover-color-primary;
        }
    }
}


.content-divider {
    width: 70%;
    border: none;
    border-top: 1px solid $borders-color;
    margin: 15px 0;
}


.counter-wrapper {
    display: flex;
    flex-direction: row;

    div {
        margin: 0 20px;
    }

    .counters {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid $borders-color;
    }

    p {
        font-size: 16px;
        font-weight: 400;
    }
}